ion-card {
  margin-bottom: 20px;
}
ion-badge {
  margin-right: 8px;
}
h2 {
  margin-left: 16px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}
ion-fab {
  margin-bottom: 20px;
  margin-right: 20px;
}